<app-header></app-header>
<div class="Books">
    <div class="head">
        Books<span>( {{books.length}} items)</span>

    </div>
</div>

<!-- Books Cards -->

<div class="cards">
    <div class="cardSection">
         <!-- Used ngFor directive to loop through the books -->
        <div
        *ngFor="let book of filteredBooks"
         class="booksCard"
         (click)="viewBookDetails(book)"   >
            <div class="image">
                <img [src]="book.image" alt="{{ book.title }}">
            </div>
            <div class="content">
                <span>{{ book.title }}</span>
            </div>
            <div class="author">{{ book.author }}</div>
            <div class="rating">
                <button>4.5<mat-icon id="star">star</mat-icon></button><span>({{ book.ratingCount }})</span>
            </div>
            <div class="price">
            <span>Rs. {{ book.price }}</span>
            <span id="originalPrice">Rs.2000</span>
            </div>
        </div>
    </div>
</div>