<div class="Books">
    <div class="head">
        Books<span></span>
    </div>
</div>

<!-- Books Cards -->

<div class="cards">
    <div class="cardSection">
        <div class="booksCard">
            <div class="image">
                <img [src]="" alt="">
            </div>
            <div class="content">

            </div>
            <div class="author">

            </div>
            <div class="rating">

            </div>
            <div class="price">
                
            </div>
        </div>
    </div>
</div>