<div class="body">
<div class="Container">
    <div class="login-form">
    <h1> Book StoreApp</h1>
    <h2>Sign In</h2>
    <p> To Use Your Account</p>
    <form>
        <input type="email" placeholder="Email*" required>
        <input type="password" placeholder="Password*" required>
        <a href="#"> Forgot Password ?</a>
      <div class="links">
        <a href="signup.html">Create account</a>
        <button type="submit">login</button>
      </div> 
    </form>
   </div>
</div>
</div>