<app-header></app-header>
<div class="Cards" *ngIf="book">
  <div class="cardSection">
    <div class="book"><img [src]="book.image" alt="book" /></div>
    <div class="tittle">
      <span>{{ book.title }}</span>
    </div>
    <div class="author">
      <span>by {{ book.author }}</span>
    </div>
    <div class="rating">4.5<mat-icon id="star">star</mat-icon></div>
    <div class="peoples"><span>(20)</span></div>
    <div class="price">
      <span>Rs.{{ book.price }}</span
      ><span id="originalPrice">Rs.2000</span>
    </div>
  </div>
  <div class="line"><hr /></div>
  <div class="description">
    <span>.Book Detail</span><br />
    <p id="text">

        {{book.bookDetails}}
    </p>
  </div>

  <div class="lineSecond"></div>
  <div class="feedback">Customer Feedback</div>
  <div class="OverallRating">
    <div class="rate">Overall rating</div>
    <div class="stars">
      <mat-icon>star_border</mat-icon>
      <mat-icon>star_border</mat-icon>
      <mat-icon>star_border</mat-icon>
      <mat-icon>star_border</mat-icon>
      <mat-icon>star_border</mat-icon>
    </div>
    <div class="input">
      <input [(ngModel)]="feedback" type="text" placeholder="Write Your Feedback" />
    </div>
    <div class="submit"><button  (click)="resetInput()" type="submit">submit</button></div>
    <div class="customers">
      <div class="icon">
        <span id="intial">SK</span> <span id="name">Md Shahbaz Khan</span>
      </div>
      <div class="stars">
        <mat-icon id="yellowStar">star</mat-icon>
        <mat-icon id="yellowStar">star</mat-icon>
        <mat-icon id="yellowStar">star</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <div>
        <p class="customerFeedback">
          Good product. Even though the translation could have been better,
          Chanakya's neeti are thought provoking. Chanakya has written on many
          different topics and his writings are succinct.
        </p>
      </div>
    </div>

    <div class="cust">
      <div class="icon">
        <span id="intial">KJ</span> <span id="name">sahil kumar</span>
      </div>
      <div class="stars">
        <mat-icon id="yellowStar">star</mat-icon>
        <mat-icon id="yellowStar">star</mat-icon>
        <mat-icon id="yellowStar">star</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <div>
        <p class="customerFeedback">
          Good product. Even though the translation could have been better,
          Chanakya's neeti are thought provoking. Chanakya has written on many
          different topics and his writings are succinct.
        </p>
      </div>
    </div>
    <div class="buttons">
      <!-- Conditionally display the stepper if showStepper is true -->
      <div *ngIf="showStepper" class="stepper">
        <button (click)="changeQuantity(-1)" id="decrement">-</button>
        <span>{{ quantity }}</span>
        <button (click)="changeQuantity(1)" id="increment">+</button>
        <!-- Add to Cart button inside stepper to confirm addition after selecting quantity -->
        <button (click)="addToCart()" id="addToCartButton">Add to Cart</button>
      </div>

      <!-- "Add To Bag" button is visible only if showStepper is false -->
      <!-- Toggle showStepper to show quantity selection -->
      <button id="notify" *ngIf="!showStepper" (click)="toggleStepper()">
        Add To Bag
      </button>

      <!-- Wishlist button, always visible -->
      <button id="Wishlist" (click)="addToWishlist()">
        <mat-icon>favorite</mat-icon>Wishlist
      </button>
    </div>
  </div>
</div>
