<div class="body">
    <div class="container">
        <div class="signup-form">
            <h1>BookStore</h1>
            <h2>Create Yout  Account</h2>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="First Name*" required>
                    <input type="text" placeholder="Last Name*" required>
                </div>
                <input type="email" placeholder="Email*" required>
                <input type="password" placeholder="Password*" required>
                <small>Use 8 or more characters with a mix of letters, numbers & symbols</small>
                <div class="actions">
                    <a href="Login.html"> sign in instead</a>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
        <div class="info-section">
            <img src="userIcon.jpeg" alt="Icon">
            <p> One Account. All Of BookStore App For your</p>
       </div>
    
</div>