<div class="body">
    <div class="container">
      <!-- Signup Form Section -->
      <div class="signup-form">
        <h1>BookStore</h1>
        <h2>Create Your Account</h2>
        <form>
          <!-- First and Last Name Fields -->
          <div class="input-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="First Name*" required />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Last Name*" required />
            </mat-form-field>
          </div>
  
          <!-- Email Field -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email*" required />
          </mat-form-field>
  
          <!-- Password Field -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password*" required />
            <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </mat-form-field>
          
  
          <!-- Actions -->
          <div class="actions">
            <a mat-button href="http://localhost:4200/">Sign in instead</a>
            <button mat-flat-button color="primary" type="submit">Register</button>
          </div>
        </form>
      </div>
  
      <!-- Info Section -->
      <div class="info-section">
        <img src="../assets/signup.avif" alt="User Icon" />
        <h2>One Account. All Of BookStore App For You</h2>
      </div>
    </div>
  </div>
  