<app-header></app-header>
<div class="Books">
  <div class="head">Home/<span>My Wishlist</span></div>
</div>
<div class="wishlist">
  <p>My Wishlist ({{ wishlistCount }})</p>
</div>
<div class="MainContainer">
  <div class="Container" *ngFor="let item of wishlistItems">
    <!-- Book Image -->
    <img [src]="item.bookImage" alt="{{ item.bookName }}" />
    <!-- Book Details -->
    <p class="title">{{ item.bookName }}</p>
    <p class="author">by {{ item.bookAuthor }}</p>
    <!-- Price Details -->
    <div class="prices">
      <span class="discountedPrice">Rs {{ item.discountedPrice }}</span>
      <span class="originalPrice">Rs {{ item.bookPrice }}</span>
    </div>
    <!-- Action Buttons -->
    <div class="actions">
      <button class="delete" (click)="removeFromWishlist(item.bookid
)">
        <mat-icon>delete </mat-icon> Remove
      </button>
      <button class="add-to-cart" (click)="addToCart(item)">Add to Cart</button>
    </div>
  </div>
</div>
